In [52]:
review = pd.read_csv('C:/Users/Chithsabesh/Desktop/yelp_review.csv',chunksize=10000)

In [1]:
import pandas as pd
import numpy as np

In [19]:
import csv

In [54]:
chunk_size = 1000000
batch_no = 1
for chunk in pd.read_csv('C:/Users/Chithsabesh/Desktop/yelp_review.csv',chunksize=chunk_size):
                         chunk.to_csv('yelp_review' + str(batch_no) + '.csv',index=False)
                         batch_no +=1

In [126]:
df_italian=pd.read_csv('italian_pizza.csv')

In [127]:
df_italian.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6804 entries, 0 to 6803
Data columns (total 4 columns):
business_id     6804 non-null object
review_count    6804 non-null int64
stars           6804 non-null float64
state           6804 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 212.7+ KB

In [128]:
business_id=df_italian['business_id'].tolist()

In [129]:
df_1=pd.read_csv('yelp_review1.csv', error_bad_lines=False)

In [130]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 9 columns):
review_id      1000000 non-null object
user_id        1000000 non-null object
business_id    1000000 non-null object
stars          1000000 non-null int64
date           1000000 non-null object
text           1000000 non-null object
useful         1000000 non-null int64
funny          1000000 non-null int64
cool           1000000 non-null int64
dtypes: int64(4), object(5)
memory usage: 68.7+ MB

In [131]:
df_1['business_id'].nunique()

136032

In [132]:
business_id=pd.DataFrame(business_id)

In [142]:
business_id.head(10)

              business_id
0  fweCYi8FmbJXHCqLnwuk8w
1  bJP4l_BGq2CudEu0m-wNjg
2  WlArCYe6xCzOe5u2Lt1how
3  jwHtNvHBPafiAwM92jM8yA
4  v7ZFEEqJBg_r8NCwHRP_2A
5  CPgz4srKkE5u9aoBAOaQsA
6  TTVwcuc1Nz4ZSZH4wnbxKQ
7  dUffgo9Lh_Vk9TLuFR5ywg
8  q4P3WHwC0lFafwvTlkKMIw
9  e-9f6vasnWh3z0uOq287Aw

In [144]:
business_id.shape

(6804, 1)

In [133]:
business_id.rename(index=str,columns={0:'business_id'},inplace=True)

In [134]:
final=pd.merge(business_id,df_1,how='inner',on='business_id')

In [135]:
final.shape

(57295, 9)

In [136]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57295 entries, 0 to 57294
Data columns (total 9 columns):
business_id    57295 non-null object
review_id      57295 non-null object
user_id        57295 non-null object
stars          57295 non-null int64
date           57295 non-null object
text           57295 non-null object
useful         57295 non-null int64
funny          57295 non-null int64
cool           57295 non-null int64
dtypes: int64(4), object(5)
memory usage: 4.4+ MB

In [137]:
final.head(10)

,business_id,review_id,user_id,stars,date,text,useful,funny,cool
0,fweCYi8FmbJXHCqLnwuk8w,iIDjTM9pXwF8Txfrj4ZY1Q,4Nl9USkee-GdfTaxbUZN-Q,1,2012-12-01,This place is b.s. They sent me a $10 gift cer...,0,0,0
1,fweCYi8FmbJXHCqLnwuk8w,ox8-CGTo3ewUWMdIHJIGTQ,bDnaX6jPdunz3GK63n3T8Q,5,2016-12-01,Service was great and food is truly incredible...,0,0,0
2,fweCYi8FmbJXHCqLnwuk8w,IJLOaDstp_auq9f8umDrFw,IaQP0fMvvSzu8AnCo2Jc_Q,4,2017-08-27,I live just down the street from here and this...,0,0,0
3,bJP4l_BGq2CudEu0m-wNjg,DBuztxZlkLdvrRLmUztB-w,e5n-s1OhaqXP9siQ6dNm0A,4,2009-04-26,"Food was great, service was great. Be sure to ...",2,1,1
4,WlArCYe6xCzOe5u2Lt1how,RapHw_w9tuGF3jrIRn186A,Wc8GmrK-7J4Ncliwr06j7A,5,2010-06-20,Always fresh and hot and fast. Great customer ...,1,0,1
5,CPgz4srKkE5u9aoBAOaQsA,smPwjxKWIlGMEM9XyVTRBw,aBbQ7JWc3HREQ5MdRCD8Qg,4,2013-03-23,We tried Davidson Pizza Company as we really e...,1,0,0
6,CPgz4srKkE5u9aoBAOaQsA,Vrj7VDoZcvtTxr4FTb2ogA,kq_fqDQu9DM8zOF1lna9jw,4,2016-02-25,OMG the this place is a hidden gem in Davidson...,2,0,0
7,CPgz4srKkE5u9aoBAOaQsA,CXVjRh1QvWVyIVydEQmVIg,e6de9_31LJJJ7bFNC5qPmQ,2,2016-04-03,Huge disappointment. Seriously confused by th...,1,0,0
8,CPgz4srKkE5u9aoBAOaQsA,XmDhFt6oC9cqoOfUooTKqQ,zS1Iw1VfwKwzb9gbwCT4PQ,3,2014-01-05,Having moved here from NY its hard to find piz...,0,0,0
9,dUffgo9Lh_Vk9TLuFR5ywg,joN9woFqQkdAfYBZy8yHHw,BArjH2vHo5adQcjAWi_2_A,4,2013-01-14,"Dirty monkey, Baked Ziti, Pizzuki. Great servi...",0,0,0

In [138]:
df_2=pd.read_csv('yelp_review2.csv', error_bad_lines=False)

In [139]:
df_2.shape

(1000001, 9)

In [140]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000001 entries, 0 to 1000000
Data columns (total 9 columns):
review_id      1000001 non-null object
user_id        1000001 non-null object
business_id    1000001 non-null object
stars          1000001 non-null int64
date           1000000 non-null object
text           1000000 non-null object
useful         999999 non-null float64
funny          999999 non-null float64
cool           999999 non-null float64
dtypes: float64(3), int64(1), object(5)
memory usage: 68.7+ MB

In [87]:
df_2['business_id'].nunique()

134220

In [141]:
business_id1=pd.DataFrame(business_id)

In [145]:
business_id1.shape

(6804, 1)

In [143]:
business_id1.head(10)

              business_id
0  fweCYi8FmbJXHCqLnwuk8w
1  bJP4l_BGq2CudEu0m-wNjg
2  WlArCYe6xCzOe5u2Lt1how
3  jwHtNvHBPafiAwM92jM8yA
4  v7ZFEEqJBg_r8NCwHRP_2A
5  CPgz4srKkE5u9aoBAOaQsA
6  TTVwcuc1Nz4ZSZH4wnbxKQ
7  dUffgo9Lh_Vk9TLuFR5ywg
8  q4P3WHwC0lFafwvTlkKMIw
9  e-9f6vasnWh3z0uOq287Aw

In [146]:
business_id1.rename(index=str,columns={0:'business_id'},inplace=True)

In [147]:
final1=pd.merge(business_id1,df_2,how='inner',on='business_id')

In [148]:
final1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56723 entries, 0 to 56722
Data columns (total 9 columns):
business_id    56723 non-null object
review_id      56723 non-null object
user_id        56723 non-null object
stars          56723 non-null int64
date           56723 non-null object
text           56723 non-null object
useful         56723 non-null float64
funny          56723 non-null float64
cool           56723 non-null float64
dtypes: float64(3), int64(1), object(5)
memory usage: 4.3+ MB

In [149]:
final.head(10)

,business_id,review_id,user_id,stars,date,text,useful,funny,cool
0,fweCYi8FmbJXHCqLnwuk8w,iIDjTM9pXwF8Txfrj4ZY1Q,4Nl9USkee-GdfTaxbUZN-Q,1,2012-12-01,This place is b.s. They sent me a $10 gift cer...,0,0,0
1,fweCYi8FmbJXHCqLnwuk8w,ox8-CGTo3ewUWMdIHJIGTQ,bDnaX6jPdunz3GK63n3T8Q,5,2016-12-01,Service was great and food is truly incredible...,0,0,0
2,fweCYi8FmbJXHCqLnwuk8w,IJLOaDstp_auq9f8umDrFw,IaQP0fMvvSzu8AnCo2Jc_Q,4,2017-08-27,I live just down the street from here and this...,0,0,0
3,bJP4l_BGq2CudEu0m-wNjg,DBuztxZlkLdvrRLmUztB-w,e5n-s1OhaqXP9siQ6dNm0A,4,2009-04-26,"Food was great, service was great. Be sure to ...",2,1,1
4,WlArCYe6xCzOe5u2Lt1how,RapHw_w9tuGF3jrIRn186A,Wc8GmrK-7J4Ncliwr06j7A,5,2010-06-20,Always fresh and hot and fast. Great customer ...,1,0,1
5,CPgz4srKkE5u9aoBAOaQsA,smPwjxKWIlGMEM9XyVTRBw,aBbQ7JWc3HREQ5MdRCD8Qg,4,2013-03-23,We tried Davidson Pizza Company as we really e...,1,0,0
6,CPgz4srKkE5u9aoBAOaQsA,Vrj7VDoZcvtTxr4FTb2ogA,kq_fqDQu9DM8zOF1lna9jw,4,2016-02-25,OMG the this place is a hidden gem in Davidson...,2,0,0
7,CPgz4srKkE5u9aoBAOaQsA,CXVjRh1QvWVyIVydEQmVIg,e6de9_31LJJJ7bFNC5qPmQ,2,2016-04-03,Huge disappointment. Seriously confused by th...,1,0,0
8,CPgz4srKkE5u9aoBAOaQsA,XmDhFt6oC9cqoOfUooTKqQ,zS1Iw1VfwKwzb9gbwCT4PQ,3,2014-01-05,Having moved here from NY its hard to find piz...,0,0,0
9,dUffgo9Lh_Vk9TLuFR5ywg,joN9woFqQkdAfYBZy8yHHw,BArjH2vHo5adQcjAWi_2_A,4,2013-01-14,"Dirty monkey, Baked Ziti, Pizzuki. Great servi...",0,0,0

In [150]:
final1.head(10)

,business_id,review_id,user_id,stars,date,text,useful,funny,cool
0,fweCYi8FmbJXHCqLnwuk8w,PnKm8y0thZ5ZdWhuOk7Opg,VJvQiGrmtFXAmswRRIWYYw,5,6/27/2017,"Hands down, this is the best pizza place in Me...",0.0,0.0,0.0
1,fweCYi8FmbJXHCqLnwuk8w,6TWu1sdMi-k6DNrHZWchvQ,gzE5dfmxNYj5y0fIJBVblQ,3,9/28/2010,I can't exactly get too involved for a pizza c...,0.0,1.0,1.0
2,fweCYi8FmbJXHCqLnwuk8w,UkLxSPjJr1jpIjCtcKx7GA,2OmdTYQXXG2qVokHKnrMdQ,4,3/18/2016,Haven't had anything but the steak and cheese ...,0.0,0.0,0.0
3,WlArCYe6xCzOe5u2Lt1how,l2NKT3D3BKhXPnd6QPDcWw,ySjlrMyj9wYtRAijTtsGMw,3,1/23/2011,Always fresh and always delicious.\r\n\r\nThis...,0.0,1.0,1.0
4,WlArCYe6xCzOe5u2Lt1how,UbkJRGH-hhttFCgiZcMalg,sp95aIlmvgSbqhvQXQrsEw,1,3/25/2016,It's been awhile since I've been to a Domino's...,0.0,1.0,0.0
5,v7ZFEEqJBg_r8NCwHRP_2A,ejb3jJUhem-y3QAPJsr4_Q,tEcUrOeTabyFkUxdGECAkQ,4,1/13/2008,This sleek little Italian place (formerly LV G...,1.0,1.0,1.0
6,CPgz4srKkE5u9aoBAOaQsA,pPTJxyxtEQCj0sSzo1bsug,40UJQJK3R99PdgYzMGYN9w,4,7/9/2016,"Small location, but great service. Garlic brea...",0.0,0.0,0.0
7,CPgz4srKkE5u9aoBAOaQsA,esh8jAoGGY8ne7htg-IZdQ,wHx4bAhxQzJj3GReROeOmQ,5,6/1/2017,We bought a Groupon several weeks ago for Davi...,0.0,0.0,0.0
8,CPgz4srKkE5u9aoBAOaQsA,I26H76FTiqBkS5VFDvFahQ,ZJlQs9hhjiVwayO6YYnNiQ,4,8/24/2014,Good selection of specialty pizzas. $18 range ...,0.0,0.0,0.0
9,CPgz4srKkE5u9aoBAOaQsA,0fdNhQFAVqLFaJrEQoCNBQ,Bz1p7baLihsOlmkczwqaJg,4,8/27/2016,Davidson Pizza is delicious! I hate chain piz...,0.0,0.0,1.0

In [151]:
df_3=pd.read_csv('yelp_review3.csv', error_bad_lines=False)

In [152]:
df_3.shape

(495189, 9)

In [157]:
df_3.head(10)

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,8t6KvX9bz3bhyGefiLgZqA,iBcjHYLO92izpT_1iOFXFA,BnMDLIYT17-fl6_pFpFlrA,5,11/7/2016,Very fast response time. Locked myself out of ...,1.0,1.0,0.0
1,xFTEkSEqiZjtDPrrSpb45g,H5U7NJWU7pA3-xLQg70OFw,K3lYaKPdaBim-LCOcmi6Jg,4,6/12/2017,You can't really have enough burger joints. Th...,3.0,0.0,1.0
2,Gzy30LHrzeO5BHkE66qrTQ,H5U7NJWU7pA3-xLQg70OFw,D9xr-6Io3hPOh5ZHFRVPTA,4,10/11/2016,"Small, clean, little, family owned and operate...",0.0,0.0,0.0
3,DXDCO1VDQm1WmVTgXlNDKA,H5U7NJWU7pA3-xLQg70OFw,4iSVxQKK1G3V-LBffQxaKg,5,2/11/2016,I stumbled upon Klavon's biking through the St...,0.0,0.0,0.0
4,D3zKtStdahALf7yjEOhXyw,H5U7NJWU7pA3-xLQg70OFw,rqcknDxg8lZAFN76YU7-BQ,5,9/26/2016,I really wish the bar space was bigger and ope...,1.0,1.0,2.0
5,I13HA5uUv--vP5wJuXF2MQ,H5U7NJWU7pA3-xLQg70OFw,zmoQ2eIDyeKlKVGA8p9esQ,4,4/22/2016,Well hot damn we found ourselves Pittsburgh's ...,0.0,0.0,0.0
6,hdRlEUSZgFFcub62XyWQBQ,H5U7NJWU7pA3-xLQg70OFw,K5jY2W5Q3eNnwssV5UZtow,4,9/26/2016,Judgesters beware this place will be hard for ...,0.0,0.0,1.0
7,JJUf9Vdv33ep0m3EJVenVA,lwTcwQGbh-ySeCxL3ckYRw,eJKnymd0BywNPrJw1IuXVw,5,10/20/2017,This place is awesome. We shared 2 orders of n...,0.0,0.0,0.0
8,57V3aPIlnFwukVhqteFfMg,lwTcwQGbh-ySeCxL3ckYRw,xk-fOf_M39kDTgzfVgu0Tw,3,10/20/2017,I had the Protein Lover's Scramble and it was ...,0.0,0.0,0.0
9,f1CQyIScmi5HZGWwCqCJ8Q,lwTcwQGbh-ySeCxL3ckYRw,5exz18duMXvg91ZPdNX3eA,2,10/21/2017,Not good at all. Our party ordered a few diffe...,0.0,0.0,0.0

In [158]:
df_2.head(10)

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,6fdUzyJGyBZiuxE7uqSLDA,JkM4rxW5IjGQTp5jKq2bWQ,6NG_A-epYEpsJSugfAaTRQ,5,6/26/2016,"This was not my first rave, but it was my firs...",1.0,0.0,0.0
1,sMiwhlLVCi2IuZHeUPwIHA,aD7GXRCLJqedQdJhOw0udA,SS0ZvmaFQSm6gZFiQ0WGOQ,4,5/15/2017,Belle's is a good place to get a pedicure. I h...,0.0,0.0,0.0
2,G7ptD4BBoLwzJ_YzrvdnsQ,Tk_LsD3n76o56hLq8ELHsg,ybuWu6uOrEZQBTKxWDoixg,5,3/7/2013,"WOW. Great service, Great food! First time her...",2.0,0.0,1.0
3,wDM5SkyNEnqevh6YJmrxYQ,JfKLajE7c2D2l1BbHq8crw,_OoQ31fIoy3dK96rP6vtFQ,4,10/17/2016,Best tomatillo salsa around. The Grande Burro...,0.0,0.0,0.0
4,JctSHBL9Uh3s91LTy3gZ3g,JfKLajE7c2D2l1BbHq8crw,_XmJ3Y-yGxG2BENWBnYWVQ,4,11/11/2016,We ordered the Chicken Lo Mein and Teriyaki Ch...,0.0,0.0,0.0
5,2EuRbBfhC_yK544ySiScow,Rkcm09yCa0kZoLThA4rllQ,LqEZNMIsJOWUWSxdHHCBig,4,1/15/2016,I went here a few years back but I still remem...,1.0,0.0,0.0
6,WwWxY12KS0mBtKbrwtQT1A,9MAN39lsFciXRLMZ0_jDYQ,59pRENlEtufhZiGbZzdvHg,1,2/2/2015,Horrible customer service. Came here with my s...,6.0,1.0,0.0
7,_XGXegGO-kD-tA_807hYfA,9MAN39lsFciXRLMZ0_jDYQ,fgrMJzwI-AcdvhNZgFCgvw,1,5/6/2016,Came to this location a couple days ago with a...,0.0,0.0,0.0
8,B7laRtEHnBdgA6VhuBUONA,9MAN39lsFciXRLMZ0_jDYQ,RMt2bLmZQw6tcY0YFYDgmg,2,8/4/2017,I normally shop at ulta(because they use to no...,0.0,0.0,0.0
9,0tEuIq25I6XVMsyjOow6RA,Ee-Nea1zpwWbdRJKFzAvsg,3kdSl5mo9dWC4clrQjEDGg,2,11/19/2011,"This place is over rated, looks like mostly lo...",0.0,0.0,0.0

In [159]:
df_1.head(10)

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,vkVSCC7xljjrAI4UGfnKEQ,bv2nCi5Qv5vroFiqKGopiw,AEx2SYEUJmTxVVB18LlCwA,5,2016-05-28,Super simple place but amazing nonetheless. It...,0,0,0
1,n6QzIUObkYshz4dz2QRJTw,bv2nCi5Qv5vroFiqKGopiw,VR6GpWIda3SfvPC-lg9H3w,5,2016-05-28,Small unassuming place that changes their menu...,0,0,0
2,MV3CcKScW05u5LVfF6ok0g,bv2nCi5Qv5vroFiqKGopiw,CKC0-MOWMqoeWf6s-szl8g,5,2016-05-28,Lester's is located in a beautiful neighborhoo...,0,0,0
3,IXvOzsEMYtiJI0CARmj77Q,bv2nCi5Qv5vroFiqKGopiw,ACFtxLv8pGrrxMm6EgjreA,4,2016-05-28,Love coming here. Yes the place always needs t...,0,0,0
4,L_9BTb55X0GDtThi6GlZ6w,bv2nCi5Qv5vroFiqKGopiw,s2I_Ni76bjJNK9yG60iD-Q,4,2016-05-28,Had their chocolate almond croissant and it wa...,0,0,0
5,HRPm3vEZ_F-33TYVT7Pebw,_4iMDXbXZ1p1ONG297YEAQ,8QWPlVQ6D-OExqXoaD2Z1g,5,2014-09-24,Cycle Pub Las Vegas was a blast! Got a groupon...,1,0,0
6,ymAUG8DZfQcFTBSOiaNN4w,u0LXt3Uea_GidxRW1xcsfg,9_CGhHMz8698M9-PkVf0CQ,4,2012-05-11,Who would have guess that you would be able to...,0,0,2
7,8UIishPUD92hXtScSga_gw,u0LXt3Uea_GidxRW1xcsfg,gkCorLgPyQLsptTHalL61g,4,2015-10-27,Always drove past this coffee house and wonder...,1,0,0
8,w41ZS9shepfO3uEyhXEWuQ,u0LXt3Uea_GidxRW1xcsfg,5r6-G9C4YLbC7Ziz57l3rQ,3,2013-02-09,"Not bad!! Love that there is a gluten-free, ve...",1,0,0
9,WF_QTN3p-thD74hqpp2j-Q,u0LXt3Uea_GidxRW1xcsfg,fDF_o2JPU8BR1Gya--jRIA,5,2016-04-06,Love this place!\r\n\r\nPeggy is great with do...,3,0,0

In [160]:
df_3['business_id'].nunique()

104294

In [161]:
business_id2=pd.DataFrame(business_id)

In [162]:
business_id2.rename(index=str,columns={0:'business_id'},inplace=True)

In [163]:
final2=pd.merge(business_id2,df_3,how='inner',on='business_id')

In [164]:
final2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27954 entries, 0 to 27953
Data columns (total 9 columns):
business_id    27954 non-null object
review_id      27954 non-null object
user_id        27954 non-null object
stars          27954 non-null int64
date           27954 non-null object
text           27954 non-null object
useful         27954 non-null float64
funny          27954 non-null float64
cool           27954 non-null float64
dtypes: float64(3), int64(1), object(5)
memory usage: 2.1+ MB

In [165]:
final2.head(10)

,business_id,review_id,user_id,stars,date,text,useful,funny,cool
0,CPgz4srKkE5u9aoBAOaQsA,U4X6jJQgP81jf6xC4QyRxQ,rb9lFjdLdfDLO1I4EsVjLg,3,6/8/2015,I went to Davidson Pizza Company today for the...,1.0,0.0,0.0
1,CPgz4srKkE5u9aoBAOaQsA,Sxh7dZ-Bm16M-4HmszrEEA,ot_Uwot9c--RkX6G2CAmLg,2,2/25/2015,So today I went back and ordered a NY cheese s...,2.0,0.0,0.0
2,CPgz4srKkE5u9aoBAOaQsA,AGAw0JOdcODnKC2bb6FnTg,FRvKvr1-AsUaCBuxaoxnCg,1,12/31/2016,"Wow, was not expecting this poor quality of pi...",1.0,2.0,1.0
3,CPgz4srKkE5u9aoBAOaQsA,cuUUN2D1OpaXOXBIA4M0fw,XGHvw9aF-8a3rn-2Lji8nw,5,1/2/2014,"Ok- so, I am updating to give Davidson Pizza C...",0.0,0.0,0.0
4,CPgz4srKkE5u9aoBAOaQsA,8eDEsMJGWOa7JXtu_Pmoug,7F2HL6bHdyFnTZAVacmWyw,5,9/4/2015,Best pizza in town by far! The garlic knots a...,0.0,0.0,0.0
5,TTVwcuc1Nz4ZSZH4wnbxKQ,J1afLKgo7ukhG71BjM-85g,DUBhB7Fz_FwXvlke6G5TPw,1,7/26/2017,"This place is incredibly over priced, the food...",0.0,0.0,0.0
6,TTVwcuc1Nz4ZSZH4wnbxKQ,5oECwF-qHxwCCQjX_9474g,GnbKOPQ_ji0MZZnIqNi-mw,5,9/8/2016,"Choices of fresh focaccia sandwiches, pizza, s...",0.0,0.0,0.0
7,dUffgo9Lh_Vk9TLuFR5ywg,sxnX0cc9Ic41QmrlezHMGw,B820kFgFc1HyTFIuMoWH-w,3,2/8/2011,I've been here twice now and have to say that ...,1.0,2.0,0.0
8,dUffgo9Lh_Vk9TLuFR5ywg,HUoL5SG_ti22KH4X0eE_NQ,BZGnoX_zNXlsQ1XxySzj-Q,3,9/17/2017,Come in every couple of weeks. Food great and...,0.0,0.0,0.0
9,dUffgo9Lh_Vk9TLuFR5ywg,_TCWwQ5cXl2NciUgto9trQ,8_b9eB6qb4BvOF8AlkC1aw,4,5/18/2011,"Had the Pablo Picasso, and although I got the ...",0.0,0.0,0.0

In [166]:
df_4 = pd.read_csv('yelp_review4.csv', error_bad_lines=False)

In [167]:
df_4.shape

(1000001, 9)

In [168]:
df_4['business_id'].nunique()

136033

In [169]:
business_id3=pd.DataFrame(business_id)

In [170]:
business_id3.rename(index=str,columns={0:'business_id'},inplace=True)

In [171]:
final3=pd.merge(business_id3,df_4,how='inner',on='business_id')

In [173]:
final3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57634 entries, 0 to 57633
Data columns (total 9 columns):
business_id    57634 non-null object
review_id      57634 non-null object
user_id        57634 non-null object
stars          57634 non-null int64
date           57634 non-null object
text           57634 non-null object
useful         57634 non-null float64
funny          57634 non-null float64
cool           57634 non-null float64
dtypes: float64(3), int64(1), object(5)
memory usage: 4.4+ MB

In [175]:
final3.head(10)

,business_id,review_id,user_id,stars,date,text,useful,funny,cool
0,fweCYi8FmbJXHCqLnwuk8w,h--0JTkT0hw7FTrx62qPmw,XOVYz76S7wQ26ej4ev0v3g,5,2015-01-29,This probably my favorite fast food pizza. It'...,0.0,0.0,0.0
1,bJP4l_BGq2CudEu0m-wNjg,SMDUpabukTshgOaXGL5IDQ,QvLg2kxqHHahxxOlHlEIZw,1,2015-04-27,This is not fine dining.\r\n\r\nMy older Son h...,0.0,0.0,0.0
2,v7ZFEEqJBg_r8NCwHRP_2A,amS5qqeBuhOuhNSOszpEKA,0bJG5-ZwLY7Vq9NHgTHTGQ,5,2009-03-31,"Off the beaten path, Bistro Divino is an excel...",1.0,0.0,0.0
3,v7ZFEEqJBg_r8NCwHRP_2A,b7GPPF8lxJ4b9I8LEdGhzQ,YuABJc2x2pSDUw2HD6bzWQ,5,2008-05-18,This is a lovely little place with fabulous fo...,1.0,0.0,0.0
4,CPgz4srKkE5u9aoBAOaQsA,-x4ToXg0x_GZWdk8r2fvtg,G0w-uNGMtXogAWY8goP7-w,5,2017-09-03,My review is based off of the incredible exper...,0.0,0.0,0.0
5,CPgz4srKkE5u9aoBAOaQsA,awj5Nw-ba9Q91MoPGEw_9Q,3gaLiWCSxQtrZteoSVOeig,3,2013-07-01,I've been here twice now. The folks working he...,1.0,0.0,0.0
6,CPgz4srKkE5u9aoBAOaQsA,NBCue-V7Vx4JoWrKvbJM-A,13Xxr1EvWxKcOto9Kb4X8w,1,2017-10-13,"We picked up some wings tonight, buffalo and p...",1.0,1.0,1.0
7,CPgz4srKkE5u9aoBAOaQsA,zhWpeSbOiwz4y5bHlvdV8g,rARnQ0NYeNmFrmv-sru0WQ,5,2014-09-08,Pizza here rocks!! NY thin crust but not too t...,0.0,0.0,0.0
8,CPgz4srKkE5u9aoBAOaQsA,kyBfWvIZIlnDFAnruQioAg,KVcacPBSEeBCKafgrMyfmQ,4,2016-09-11,This is without a doubt my favorite pizza out ...,0.0,0.0,0.0
9,dUffgo9Lh_Vk9TLuFR5ywg,Psrn6TwQqq5-W0AbOWVbtg,K_z7MwoCTY4WEn3QFuwnzw,5,2009-11-16,Love Oregano's. Been going to Oregano's for go...,0.0,0.0,0.0

In [176]:
df_5 = pd.read_csv('yelp_review5.csv', error_bad_lines=False)

In [177]:
business_id4=pd.DataFrame(business_id)

In [178]:
business_id4.rename(index=str,columns={0:'business_id'},inplace=True)

In [179]:
final4=pd.merge(business_id4,df_5,how='inner',on='business_id')

In [180]:
final4.head(10)

,business_id,review_id,user_id,stars,date,text,useful,funny,cool
0,fweCYi8FmbJXHCqLnwuk8w,A0W4-CaqHG-fMivCKpDGNw,2Jbg953uuL-H-Q3GDg847A,5,2016-12-14,we love marcos we order online it arrives usua...,0,0,0
1,fweCYi8FmbJXHCqLnwuk8w,Jv9-o-hxijK3ClBARgoYTw,_Rgn4SZT2wXyQnW9AD9Tog,5,2017-11-17,Being from Northwest Ohio I have always loved ...,0,0,0
2,fweCYi8FmbJXHCqLnwuk8w,sjrF4Y4y2zn_l8fQDD_Wkg,bG_FQdlpdN6etYUxrxkQjQ,4,2014-03-24,Good pizza! I love their white cheesy pizza. I...,1,1,1
3,bJP4l_BGq2CudEu0m-wNjg,Lf-Kl0TgwWvAZ5MF1apxYA,kEfuEfmdbMSsaznkq6O7jg,1,2013-04-14,Wanting to try thier breakfast after a pleasan...,0,0,0
4,WlArCYe6xCzOe5u2Lt1how,8y6wLY0uX8Sj-avCCc7Qlw,_qJUR12dF8_Qs4nZ2KilCA,5,2017-08-23,50% Mondays are the best! Other coupon deals a...,0,0,0
5,dUffgo9Lh_Vk9TLuFR5ywg,kwefLZAmpQ4Yb5Y-M8wQAw,YpGt3hdq5adPlEFn9fQ2Zw,3,2011-12-14,"Everyone likes good Italian food, but not ever...",3,2,1
6,dUffgo9Lh_Vk9TLuFR5ywg,XwyD3CIxU-_qRz3falNPlQ,Du2-0VHOKzQWWgrleVCV8Q,4,2013-12-14,Food is great every time along with excellent ...,1,0,0
7,dUffgo9Lh_Vk9TLuFR5ywg,oIYy3hI3Qm1ilUxfnS5cgg,Ir0stkOXlnnTrT9hN0Kozw,5,2016-09-01,My girlfriend brought me here today for my fir...,0,0,0
8,dUffgo9Lh_Vk9TLuFR5ywg,0tZcb8qu7Rfbg5fKaQ8blA,6_EWgEEdYW-GE_CCTrjPHg,5,2014-04-08,Pasta is amazing. Really well cooked and good ...,0,0,0
9,dUffgo9Lh_Vk9TLuFR5ywg,avSUtvtBINeInna7FsYb-w,uTG4CAcJOJ0K3RJBFcyaJA,3,2015-08-31,It was my first time here and was a spur of th...,0,0,0

In [181]:
df_6 = pd.read_csv('yelp_review6.csv', error_bad_lines=False)

In [182]:
business_id5=pd.DataFrame(business_id)

In [183]:
business_id5.rename(index=str,columns={0:'business_id'},inplace=True)

In [184]:
final5=pd.merge(business_id5,df_6,how='inner',on='business_id')

In [185]:
final5.head(10)

,business_id,review_id,user_id,stars,date,text,useful,funny,cool
0,dUffgo9Lh_Vk9TLuFR5ywg,822cRsDpQliB93aiAzmiPA,5uiCy0vSIknuDEHc7yHRkw,5,2008-05-06,"Yes, Oregano's is a chain. But I have learned...",2,1,3
1,dUffgo9Lh_Vk9TLuFR5ywg,uTDFL8A-Verg7g1S4BjJyg,Oce9RryvQopBMvV3JZhfRQ,3,2015-05-17,I have been coming here for over five years. T...,0,0,0
2,dUffgo9Lh_Vk9TLuFR5ywg,YSiQwZy_Fa3-Y5zVEQIzTQ,LF0cBlj9pNzKz_jFoTsbmA,5,2011-10-21,The food here is amazing! Pure Italian food fr...,2,0,1
3,dUffgo9Lh_Vk9TLuFR5ywg,uirFa_L1UJ4PaIAYGsvjpg,Jk25Sh1945kBUsdMq4yr8A,1,2017-06-07,We were there to celebrate a birthday. The foo...,1,0,0
4,dUffgo9Lh_Vk9TLuFR5ywg,vea5insLGZEiNJymOb4DnA,4ZkQwaOoLT2eJWux9fE1Jw,4,2014-09-10,This place is always hopping. You need to get ...,0,0,0
5,dUffgo9Lh_Vk9TLuFR5ywg,LDL_F7mVpdp9fo5YHUhOaw,qovbuvrKdFMMGpeDox4_ug,4,2013-11-01,Fresh food and the service is great 90% of the...,0,0,0
6,dUffgo9Lh_Vk9TLuFR5ywg,hNgkqKZnUgsFSU7zQ5mqYQ,c6dzgXa_AWjJqFhEJro_ug,5,2017-02-17,"Awesome service, waiter joked around with us, ...",0,0,0
7,dUffgo9Lh_Vk9TLuFR5ywg,ZegOpFk6Fkc65v9jFhHZNQ,GBeAFpJkq1384BHsW7dCaA,5,2017-03-05,Love this place! Only once had I gotten poor s...,0,0,0
8,dUffgo9Lh_Vk9TLuFR5ywg,dRqyqocnKMAQ82orNdmXhg,k8JUtOfwXq_KZohOUcuK3Q,5,2017-12-04,Had great service from Destiny she always chec...,0,0,0
9,dUffgo9Lh_Vk9TLuFR5ywg,EANMNVtLmEOQAUFm07-fmg,aepju1WWfFV7afBfAbDhSw,4,2017-04-01,Oregano's has great food! and plenty of it! It...,0,0,0

In [186]:
df_7 =  pd.read_csv('yelp_review.csv', error_bad_lines=False)

In [187]:
df_7.shape

(319786, 9)

In [188]:
business_id6=pd.DataFrame(business_id)

In [189]:
business_id6.rename(index=str,columns={0:'business_id'},inplace=True)

In [190]:
final6=pd.merge(business_id6,df_7,how='inner',on='business_id')

In [192]:
final6.head(10)

,business_id,review_id,user_id,stars,date,text,useful,funny,cool
0,fweCYi8FmbJXHCqLnwuk8w,iIDjTM9pXwF8Txfrj4ZY1Q,4Nl9USkee-GdfTaxbUZN-Q,1,12/1/2012,This place is b.s. They sent me a $10 gift cer...,0.0,0.0,0.0
1,bJP4l_BGq2CudEu0m-wNjg,DBuztxZlkLdvrRLmUztB-w,e5n-s1OhaqXP9siQ6dNm0A,4,4/26/2009,"Food was great, service was great. Be sure to ...",2.0,1.0,1.0
2,CPgz4srKkE5u9aoBAOaQsA,smPwjxKWIlGMEM9XyVTRBw,aBbQ7JWc3HREQ5MdRCD8Qg,4,3/23/2013,We tried Davidson Pizza Company as we really e...,1.0,0.0,0.0
3,CPgz4srKkE5u9aoBAOaQsA,Vrj7VDoZcvtTxr4FTb2ogA,kq_fqDQu9DM8zOF1lna9jw,4,2/25/2016,OMG the this place is a hidden gem in Davidson...,2.0,0.0,0.0
4,dUffgo9Lh_Vk9TLuFR5ywg,joN9woFqQkdAfYBZy8yHHw,BArjH2vHo5adQcjAWi_2_A,4,1/14/2013,"Dirty monkey, Baked Ziti, Pizzuki. Great servi...",0.0,0.0,0.0
5,dUffgo9Lh_Vk9TLuFR5ywg,a1osYHFn9nAHJSImBA8OKA,1BjI1-O1gxSt8TRO0yD8Gg,1,8/6/2012,I don't know what is happening to Oregano's. I...,14.0,6.0,3.0
6,dUffgo9Lh_Vk9TLuFR5ywg,1aC1CaBjxsqrwlRM5j5OyA,1ghFOCMBpo2bGaWu_c1tcg,4,4/22/2012,Our experience from start to finish lasted ove...,2.0,0.0,0.0
7,dUffgo9Lh_Vk9TLuFR5ywg,dPu_8OuH0gkIXLhqUHe2jw,6akiuPKgnkdDu2rh2PR-Jw,1,10/27/2016,"First off this breaks my heart, but I'm finall...",1.0,0.0,0.0
8,dUffgo9Lh_Vk9TLuFR5ywg,91_qdpWLsjEwZdE5uALecA,SOlw_N92rCZUAMFRIx2hUA,5,7/18/2013,Why five stars? I wouldn't however what strike...,0.0,0.0,0.0
9,dUffgo9Lh_Vk9TLuFR5ywg,Fg_qEtEVzPMJzKdUgIpILw,4l-qWnonmvTZcnPqhHmsPw,4,4/6/2011,Oregano's... my love affair with Oregano's is ...,1.0,0.0,0.0

In [194]:
total_yelp = pd.concat([final, final1,final2,final3,final4,final5,final6])

In [195]:
total_yelp.shape

(290262, 9)

In [196]:
total_yelp.to_csv('C:/Users/Chithsabesh/Downloads/yelp/total_reviews.csv')